*{
    margin: 0px;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* shared styles */
.general-paragraph{
    margin-top: 20px;
    color: #0D1321;
    font-size: 16px;
}
/* header styles */
.header{
    text-align: center;
    height: 652px;
    width: 1440px;
    align-items: center;
    background-image: url('../assets/Hero-bg.png');
}
header img{
    margin-top: 17px;
}
header h1{
    margin: 40px 177px;
    font-size: 48px;
    font-weight: 800;
}
header button{
    margin-top: 40px;
    background-color: #0D1321;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
/* why development section */
.why-dev{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
}
.why-dev-title-info{
    text-align: center;
    margin-top: 50px;
}
.why-dev-title{
    font-size: 32px;
    font-weight: 800;
}
.cause-1{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.btn-why-dev{
    margin-top: 40px;
    padding: 10px 20px;
    border: 3px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
/* yt video styles */
.yt-video{
    text-align: center;
    margin-top: 50px;
}
.my-inspiration-title{
    font-size: 32px;
    font-weight: 800;
}
.yt-video-add{
    margin-top: 40px;
}
/* current targets */
.current-target{
    margin-top: 50px;
}
.target-header{
    text-align: center;
}
.target-header-title{
    font-size: 32px;
    font-weight: 800;
}
.target-container{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.current-target-titles{
    margin-top: 30px;
}
.target-container-learn{
    font-size: 16px;
    font-weight: 800;
    margin-top: 0px;
}
.html{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 10px;
    padding: 20px;
    width: 364px;
}
.css{
    background-color:rgba(0, 76, 232, 0.05);
    border-radius: 10px;
    padding: 20px;
    width: 364px;
}
.javascript{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    width: 364px;
}
/* support section */
.i-need-support{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url('../assets/handshake.jpg');
    border-radius: 10px;
    text-align: center;
    padding-bottom: 30px;
}
.support-container{
    padding: 50px;
}
.support-container-title{
    color: white;
    font-size: 32px;
    font-weight: 800px;
}
.support-description{
    margin-top: 40px;
    color: white;
    font-size: 16px;
}
.submit{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}
.input-feedback{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
/* footer styles */
footer{
    margin-top: 30px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    gap: 300px;
    justify-content: space-around;
    padding: 20px;
    margin-left: 0px 150px;
}
.footer-img{
    display: flex;
    gap: 20px;
}